* {
  font-family: 'roboto', 'mooli', Arial, sans-serif;
}

body {
  background: white;
}

.nav,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d3d3d3;
  padding: 0 2.1rem;
}

i.fa-solid.fa-film {
  background-color: white;
}

footer {
  font-style: italic;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.popup-display {
  justify-content: space-around;
  align-items: start;
  margin: 20px auto;
  padding: 0;
  background-color: #000;
  color: #fff;
  width: 80%;
}
